<mat-card>
  <mat-card-title>Generate a random string</mat-card-title>
  <mat-card-content>
    <form class="gen-form">
      <mat-form-field class="gen-form-field--full-width">
        <input matInput [value]="generatedString" readonly placeholder="Generated string" aria-label="Generated string">
      </mat-form-field>
    </form>

    <div class="gen-slider">
      <label for="mat-slider-chars" class="gen-slider-description">Length: <strong>{{charSliderValue}}</strong></label>
      <mat-slider [(ngModel)]="charSliderValue" (input)="onInputChange($event)" [min]="sliderMin" [max]="sliderMaxChar" id="mat-slider-chars" class="gen-slider-tool"></mat-slider>
    </div>

    <div class="gen-slider">
      <label for="mat-slider-numbers" class="gen-slider-description">Numbers: <strong>{{numberSliderValue}}</strong></label>
      <mat-slider [(ngModel)]="numberSliderValue" (input)="onInputChange($event)" [min]="sliderMin" [max]="sliderMax" id="mat-slider-numbers" class="gen-slider-tool"></mat-slider>
    </div>

    <div class="gen-slider">
      <label for="mat-slider-special-chars" class="gen-slider-description">Special characters: <strong>{{specialSliderValue}}</strong></label>
      <mat-slider [(ngModel)]="specialSliderValue" (input)="onInputChange($event)" [min]="sliderMin" [max]="sliderMax" id="mat-slider-special-chars" class="gen-slider-tool"></mat-slider>
    </div>

    <strength-indicator
      [charValue]="charSliderValue"
      [numberValue]="numberSliderValue"
      [specialValue]="specialSliderValue"
    ></strength-indicator>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button disableRipple (click)="generateString()" color="primary">Renegerate</button>
  </mat-card-actions>
</mat-card>
